html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 2.14286;
  font-weight: 300;
  color: #353744;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-accent {
  color: #ffffff;
  background-color: #fcc83a;
  -webkit-box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
          box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
  border-radius: 30px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 20px 28px;
  line-height: 1.25;
  border: 2px solid #fcc83a;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.button:hover, .button:focus {
  background: #353744;
  color: #ffffff;
  border: 2px solid #353744;
}

.header {
  position: relative;
  z-index: 2;
  background: transparent;
}

.header-about {
  position: fixed;
  z-index: 2;
  background: white;
  width: 100%;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
          box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
}

.header-nav {
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header-nav {
    height: 80px;
  }
}

.header-menu__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #353744;
}

.header-menu__link:hover, .header-menu__link:focus {
  color: #353744;
}

.header-menu__item:hover, .header-menu__item:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-menu__link-active {
  color: #fcc83a;
}

.header-menu__link-active:hover, .header-menu__link-active:focus {
  color: #353744;
}

.header-button__menu {
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 8;
}

.header-button__menu:hover, .header-button__menu:focus {
  fill: #fcc83a;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-button__menu .header-button__menu-close {
  fill: #000;
  display: none;
}

.header-button__menu.is-open .header-button__menu-close {
  display: block;
  fill: #000;
}

.header-button__menu.is-open .header-button__menu-close:hover, .header-button__menu.is-open .header-button__menu-close:focus {
  fill: #fcc83a;
}

.header-button__menu.is-open .header-button__menu-burger {
  display: none;
}

.header-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 7;
  display: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.959);
  text-align: center;
}

.header-menu.is-open {
  display: block;
}

.header-menu .header-menu__item {
  margin-bottom: 20px;
}

.header-menu .header-menu__item:first-child {
  margin-top: 50px;
}

.header-menu .header-menu__item:last-child {
  margin-bottom: 50px;
}

.hero {
  position: relative;
}

.hero-img {
  position: absolute;
  top: -114px;
  left: calc(50% - 116px);
  margin: 0px;
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .hero-img {
    top: -114px;
    left: calc(30%);
  }
}

@media screen and (max-width: 1080px) {
  .hero-img {
    width: 65%;
    top: -114px;
    left: calc(32%);
  }
}

@media screen and (max-width: 768px) {
  .hero-img {
    width: 58%;
    top: -80px;
    left: calc(40%);
  }
}

@media screen and (max-width: 767px) {
  .hero-img {
    display: none;
  }
}

.hero p {
  margin: 0;
}

.hero h1 {
  display: inline;
  font-family: Playfair;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .hero h1 {
    font-size: 40px;
  }
}

.hero h1 span {
  color: #fcc83a;
}

.hero h2 {
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero h2 {
    font-size: 18px;
    margin: 10px 0;
  }
}

.presentation {
  padding: 100px 0 50px 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .presentation {
    padding: 30px 0 30px 0;
  }
}

.presentation h3 {
  font-family: Playfair;
  font-style: bold;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.presentation p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .presentation img {
    margin-bottom: 30px;
  }
}

.counters {
  padding: 30px 0;
}

.counter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  color: #fcc83a;
  -webkit-transition: 0.3s ease-out color;
  transition: 0.3s ease-out color;
}

.counter:hover, .counter:focus {
  color: #353744;
}

.counter-title {
  display: block;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.2em;
  color: #353744;
}

@media screen and (max-width: 600px) {
  .counter-title {
    font-size: 10px;
  }
}

.owl-nav {
  display: none;
}

.offer {
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  .offer {
    padding: 20px 0;
  }
}

.offer h6 {
  color: #fcc83a;
}

.offer h3 {
  font-family: Playfair;
  font-style: bold;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.offer-content {
  min-height: 250px;
  padding: 15px;
  background-color: #fff3bd;
  -webkit-box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
          box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
  margin: 20px 0;
}

.offer-content:hover, .offer-content:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #353744;
}

.offer-content:hover .services-svg, .offer-content:focus .services-svg {
  fill: #fff;
}

.offer-content:hover .services-title, .offer-content:focus .services-title {
  color: #fff;
}

.offer-content:hover .services-paragraf, .offer-content:focus .services-paragraf {
  color: #fff;
}

.offer-content h4,
.offer-content p {
  margin: 20px 0 0 0;
}

.offer-content h4 {
  font-size: 18px;
}

.offer-content p {
  font-size: 12px;
  color: #b0b0b0;
}

.offer-content svg {
  fill: #fcc83a;
}

.contacts {
  background-color: #25272e;
  padding: 20px 0;
}

.contacts-img {
  margin: 30px auto 0 auto;
}

@media screen and (min-width: 1152px) {
  .contacts-img__mobile {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .contacts-img__mobile {
    max-width: 390px;
    max-height: 292px;
  }
}

.contacts-block {
  background-color: #353744;
}

@media screen and (max-width: 475px) {
  .contacts-block {
    max-width: 390px;
    height: 630px;
  }
}

@media screen and (min-width: 1152px) {
  .contacts-block {
    max-width: 620px;
    max-height: 618px;
  }
}

.contacts-form {
  display: block;
  margin: 32px 40px 40px 40px;
}

@media screen and (max-width: 475px) {
  .contacts-form {
    margin: 0px 20px 0px 20px;
  }
}

.contacts-form__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
  color: #ffffff;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 475px) {
  .contacts-form__title {
    font-size: 20px;
    padding-top: 23px;
  }
}

.contacts-form__paragraf {
  color: #fcfdfe;
  margin: 16px 0px 24px 0px;
}

@media screen and (max-width: 475px) {
  .contacts-form__paragraf {
    margin: 8px 0px 20px 0px;
  }
}

.contacts-form__label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
}

.contacts-form__input-name,
.contacts-form__input-phone,
.contacts-form__input-email,
.contacts-form__input-message {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #fcc83a;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
}

.contacts-form__input-name,
.contacts-form__input-phone,
.contacts-form__input-email {
  width: 100%;
  max-width: 539px;
  min-height: 40px;
  margin: 0px 0px 24px 0px;
}

@media screen and (max-width: 475px) {
  .contacts-form__input-name,
  .contacts-form__input-phone,
  .contacts-form__input-email {
    max-width: 350px;
    margin: 0px 0px 8px 0px;
  }
}

.contacts-form__input-message {
  width: 100%;
  max-width: 539px;
  min-height: 40px;
  margin: 0px 0px 40px 0px;
}

@media screen and (max-width: 475px) {
  .contacts-form__input-message {
    max-width: 350px;
    margin: 0px 0px 19px 0px;
  }
}

.contacts-form__button-iconarrow {
  fill: #ffffff;
}

.contacts-button:hover, .contacts-button:focus {
  background: #fff;
  color: #fcc83a;
  border: 2px solid #fff;
}

.footer {
  background-color: #353744;
  padding: 50px 0 50px 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 30px 0 30px 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    padding: 30px 0 10px 0;
  }
}

.footer p {
  color: #fff;
  margin: 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin: 0 5px;
}

.footer-icon {
  fill: #fff;
}

.footer-icon:hover, .footer-icon:focus {
  fill: #fcc83a;
}

.footer a {
  color: #fff;
}

.footer a:hover, .footer a:focus {
  color: #fcc83a;
}

@media screen and (max-width: 575px) {
  .footer-block {
    margin-bottom: 20px;
  }
}

.dev {
  padding: 10px 0;
  text-align: center;
  background-color: #25272e;
  color: #b0b0b0;
}

@media screen and (max-width: 1024px) {
  .dev {
    font-size: 10px;
  }
}

.dev a {
  color: #b0b0b0;
}

.dev a:hover, .dev a:focus {
  color: #fcc83a;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 35px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: url(../images/icon-top.png) no-repeat;
}

@media screen and (max-width: 425px) {
  .top {
    bottom: 50px;
    right: 35px;
    z-index: 12;
  }
}

.top:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.decor-1 {
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: -1;
}

.decor-2 {
  position: absolute;
  top: -260px;
  right: 0px;
  z-index: -1;
}

.decor-3 {
  position: absolute;
  top: calc(100% - 190px);
  right: 0;
  z-index: -1;
}

.decor-7 {
  position: absolute;
  top: -120px;
  left: 0;
  z-index: -1;
}

.about {
  padding-top: 160px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 100px;
  }
}

.about h6 {
  color: #fcc83a;
}

.about h3,
.cv h2 {
  font-family: Playfair;
  font-style: bold;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about p {
  margin-bottom: 20px;
  font-size: 14px;
}

.about-text {
  font-weight: bold;
}

.about-img {
  margin: 0 auto;
}

.cv {
  position: relative;
  padding: 100px 0;
}

@media screen and (max-width: 1024px) {
  .cv {
    padding: 50px 0;
  }
}

.cv-line {
  position: relative;
  margin-left: 50px;
}

.cv-line::before {
  position: absolute;
  left: -50px;
  top: 40%;
  display: inline-block;
  width: 40px;
  height: 2px;
  content: "";
  background-color: #fcc83a;
}

.cv-block {
  padding: 20px;
  margin: 0px 0 10px 0;
}

.cv-block:hover, .cv-block:focus {
  background-color: #353744;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .cv-block {
    padding: 10px;
  }
}

.cv ul {
  margin: 0;
  padding-left: 50px;
}

.cv-img {
  margin-bottom: 30px;
  margin-top: 10px;
}

.cv-text {
  font-size: 20px;
}

.portfolio {
  padding-top: 144px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 950px) {
  .portfolio {
    padding-top: 110px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-top: 90px;
  }
}

.portfolio-wrapper .portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-items span {
  padding: 7px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fcc83a;
  border-radius: 30px;
  border: 1px solid #fcc83a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .portfolio-items span {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .portfolio-items span {
    font-size: 12px;
    padding: 3px 12px;
  }
}

.portfolio-items span.active,
.portfolio-items span:hover {
  color: #fff;
  background: #fcc83a;
}

.portfolio .portfolio-image.hide {
  display: none;
}

.portfolio .portfolio-image.show {
  -webkit-animation: animate 0.4s ease;
          animation: animate 0.4s ease;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.portfolio-item {
  margin-top: 15px;
}

.portfolio-item:not(:last-child) {
  margin-right: 15px;
}

.portfolio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0 0;
}

@media screen and (max-width: 425px) {
  .portfolio-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-row {
    margin: 10px 0 0 0;
  }
}

.portfolio-img {
  padding: 10px;
  min-height: 295px;
  cursor: pointer;
}

.portfolio-img:hover, .portfolio-img:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.portfolio-modal__close {
  position: absolute;
  top: -20px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  color: #fcc83a;
}

.portfolio-modal__close:hover, .portfolio-modal__close:focus {
  color: #fcc83a;
  text-decoration: none;
  cursor: pointer;
}

.portfolio-modal__slide {
  display: none;
  margin: 0px auto;
  max-width: 550px;
}

@media screen and (max-width: 425px) {
  .portfolio-modal__slide {
    max-width: 300px;
  }
}

.portfolio-modal__prev {
  cursor: pointer;
  position: absolute;
  top: 120px;
  left: 10px;
  width: auto;
  padding: 16px;
  color: #fcc83a;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.portfolio-modal__prev:hover, .portfolio-modal__prev:focus {
  background-color: var(--color3);
}

.portfolio-modal__next {
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: 10px;
  width: auto;
  padding: 16px;
  color: #fcc83a;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3px 0 0 3px;
}

.portfolio-modal__next:hover, .portfolio-modal__next:focus {
  background-color: var(--color3);
}

.services {
  padding-top: 164px;
  padding-bottom: 50px;
  background-color: #fafbfd;
}

.services-block {
  height: 700px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
          box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
}
/*# sourceMappingURL=main.css.map */