.about {
  padding-top: 160px;
  padding-bottom: 30px;

  @media screen and (max-width: 768px) {
    padding-top: 100px;
  }
}
.about h6 {
  color: $color_accent2;
}

.about h3,
.cv h2 {
  font-family: Playfair;
  font-style: bold;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about p {
  margin-bottom: 20px;
  font-size: 14px;
}

.about-text {
  font-weight: bold;
}

.about-img {
  margin: 0 auto;
}