.presentation {
  padding-top: 200px;
  padding-bottom: 30px;
}
.presentation h6 {
  color: $color_accent2;
}

.presentation h3,
.cv h2 {
  font-family: Playfair;
  font-style: bold;
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.presentation p {
  margin-bottom: 20px;
  font-size: 14px;
}

.presentation-text {
  font-weight: bold;
}

.presentation-img {
  margin: 0 auto;
}
.cv-line {
  position: relative;
  margin-left: 50px;
}
.cv-line::before {
  position: absolute;
  left: -50px;
  top: 40%;

  display: inline-block;
  width: 40px;
  height: 2px;
  content: "";
  background-color: $color_accent2;
}

.cv {
  position: relative;
  padding: 100px 0;
  @media screen and (max-width: 1024px) {
    padding: 50px 0;
  }
}

.cv-block {
  padding: 20px;
  margin: 0px 0 10px 0;
  &:hover,
  &:focus {
    background-color: $color_accent;
    color: #fff;
  }
  @media screen and (max-width: 1024px) {
    padding: 10px;
  }
}

.cv ul {
  margin: 0;
  padding-left: 50px;
}

.cv-img {
  margin-bottom: 30px;
  margin-top: 10px;
}

.cv-text {
  font-size: 20px;
}

.foto-bg {
  background-color: $color_accent;
}

.foto-img {
  padding-top: 20px;
  padding-bottom: 20px;
  &:hover,
  &:focus {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.decor-7 {
  position: absolute;
  top: -120px;
  left: 0;
  z-index: -1;
}
