.header {
  position: relative;
  z-index: 2;
  background: transparent;
}

.header-wrapper {
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    height: 80px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: $color_accent;

  &:hover,
  &:focus {
    color: $color_accent2;
  }
}

.header-menu__link-active{
  color: $color_accent2;
  &:hover,
  &:focus {
    color: $color_accent;
  }
}


// Mobile menu

.header-button__menu {
  width: 22px;
  height: 22px;
  padding: 0px;
  border: none;
  background-color: transparent;

  position: relative;
  z-index: 8;


  // @media screen and (min-width: 767px) {
  //   display: none;
  // }

  .header-button__menu-close {
    fill: #000;
    display: none;
  }
}

.header-button__menu.is-open .header-button__menu-close {
  display: block;
  fill: #000;
}

.header-button__menu.is-open .header-button__menu-burger {
  display: none;
}

.header-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 7;

  display: none;
  width: 100%;
  padding: 0px;
  margin: 0px;

  background-color: rgba(255, 255, 255, 0.959);
  text-align: center;
  &.is-open {
    display: block;
  }

  .header-menu__item {

    margin-bottom: 20px;
    &:first-child {
      margin-top: 50px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}
