.hero {
  position: relative;
}

.hero-img {
  position: absolute;
  top: -114px;
  left: calc(50% - 116px);
  margin: 0px;
  z-index: 0;
  @media screen and (max-width: 1280px) {
    top: -114px;
    left: calc(30%);
  }
  @media screen and (max-width: 1080px) {
    width: 65%;
    top: -114px;
    left: calc(32%);
  }
  @media screen and (max-width: 768px) {
    width: 58%;
    top: -80px;
    left: calc(40%);
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.decor-1 {
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: -1;
}

.hero p {
  margin: 0;
}

.hero h1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}
.hero-big {
  display: inline;
  font-size: 50px;
  font-family: Playfair;
  font-style: bold;
  // font-size: 50px;
}
.hero-name {
  color: #fcc83a;
}

.hero h2 {
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
