.services {
  padding-top: 164px;
  padding-bottom: 50px;
  background-color: $color_light;
}

.services-block {
  height: 700px;
  background-color: #fff;
  box-shadow: 3px 3px 9px 0 rgba(107, 107, 107, 0.14);
}
